data/*
*.pyc
.ipynb_checkpoints/
*/.ipynb_checkpoints/
notebooks/old_files/
notebooks/gensim_models/
notebooks/utils/download/parsertools/temp/
notebooks/utils/dictionaries/experiment/
.DS_store
.vscode
utils/dtm*
notebooks/dtm_files
notebooks/results
notebooks/utils/dtm-linux64
notebooks/models/

# TeX stuff
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log
