data/*
*.pyc
.ipynb_checkpoints/
*/.ipynb_checkpoints/
notebooks/old_files/
notebooks/gensim_models/
notebooks/utils/article*
notebook/utils/temp.txt
.DS_store
.vscode

# TeX stuff
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log
